* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
}

.card .front {
    transform: rotateY(180deg);
}

.card.flipped .front {
    transform: rotateY(0deg);
}

.card.flipped .back {
    transform: rotateY(180deg);
}

.button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.countdown {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

#flipButtons {
    display: flex;
    gap: 10px; /* 按鈕之間的間距 */
}